<section class="p-12  w-full">
  <div class="w-full">
    <% @users.each do |user| %>
      <div id="user-card" class="w-full flex gap-6">
        <div class="w-1/4 border-2 rounded">
          <%= image_tag user.photo, :alt => 'user-logo', class: 'w-full rounded-l' %>
        </div>
        <div class="flex w-full  justify-between border-2">
          <div class="w-full">
            <h1 class="text-6xl hover:text-darkGrayishBlue"><%= link_to user.name, user_path(user.id) %></h1>
          </div>
          <div class="flex  justify-end  align-baseline inline-block w-full" >
            <p class=" ">Number of posts: <%= user.post_counter %></p>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</section>

