<section class="p-12  w-full h-full border-2">
  <div class="w-full flex flex-col gap-12 items-center justify-center border-2 h-full p-2">
    <h2 class="text-2xl text-brightRedLight"> Create a new post </h2>
    <%=form_with model: @post, url: user_posts_path, class: 'w-full flex flex-col items-center justify-center gap-4'  do |form|%>
      <div class="w-full flex flex-col items-center justify-center gap-4">

        <%= form.text_field  :title, placeholder: 'Enter comment title', class: 'w-1/2'%>

        <%= form.text_area :text, placeholder: 'Enter comment body', class: 'w-1/2 h-1/2 p-8' %>
      </div>
      <div class="">
        <%= form.submit 'Submit Post', class: 'w-fit border-2 p-2 bg-brightRedLight'%>
      </div>
    <%end%>

  </div>
</section>

